#home-cont {
  width: 100%;

  .ui.menu {
    .item {
      button.button-margin-right {
        margin-right: 1em;
      }
    }
  }

  .ui.segment  {
    #table-cont{
      overflow-x: scroll;

    }

  }
  
  


}