#home-cont {
  width: 100%;

  .ui.menu {
    .item {
      button.button-margin-right {
        margin-right: 1em;
      }
    }
  }

  .ui.segment  {
    div{
      overflow-x: scroll;
      // margin-left: 300px;

      // table {
      //   .hard-left {
      //     position:absolute;
      //     left:0; 
      //     width:150px;
      //   }
      //   .next-left {
      //     position:absolute;
      //     left:150px; 
      //     width:300px;
      //   }
      // }
    }

  }
  
  


}