#search-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  form {
    #search-bar {
      margin-right: 1em;
    }

    #search-btn {
      margin: 0;
    }
  }
}